html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  min-height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 10px;
  border-bottom: solid;
  border-top: solid;
}

.header {
  display: flex;
  align-items: center;
}

button {
  margin-right: 15px;
  padding: 10px;
  font-weight: bold;
  font-size: 100%;
}

section {
  border-style: solid none solid none;
  padding: 10px;
  margin: 10px 0;
}

.blogPost {
  border: solid;
  margin-bottom: 10px;
  border-width: 2px;
}

.blogTitle {
  font-weight: bold;
  border-bottom: solid;
  margin: 10px;
  border-bottom-width: 1px;
}

.blogContent {
  padding: 0 20px 20px 20px;
  font-style: italic;
}

.user {
  margin: 10px;
}

footer {
  padding: 10px;
  border: solid;
}

.dark,
.light {
  min-height: 100%;
  flex: 1;
}

/* Dark Mode */
.dark {
  background-color: #243447;
  height: 100vh;
  color: #bebebe;
}

.dark a {
  color: #b0ce04;
}

.dark a:hover {
  font-weight: bold;
}

/* Light Mode */
.light {
  background-color: #f0ead6;
  color: black;
  height: 100vh;
}

.light a {
  color: blue;
}

.light a:hover {
  font-weight: bold;
}
